<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="Portfolio - Karolina Szerszeń" />
    <meta name="og:description" content="Hi, my name is Karolina I'm a 20 years old front end developer" />
    <link rel="stylesheet" href="/styles/main.css">
    
    <title>Cat's corner</title>
</head>
<body>
    <nav></div class="header">
      <ul>
        <img src="/images/cat-16.png" >
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="far fa-copy"></i>Home____</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="far fa-clone"></i>About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts"><i class="far fa-calendar-alt"></i>Posts</a>
        </li>

      </ul>
    </div></nav>
</body>
</html>