<%- include("partials/header.ejs") %>
<div class="about">
    <h1>A little bit about us!</h1>

    <p>We are a group of entusiastic cat lovers. We were brought together by the unbeatable power of the universe.
    We serve the hunt. We are cats wearing human disguises</p>
</div>

<div class="employees">
    
    <div class="card">
        <img class = "employe" src ="/images/5db0043f903a1-animals-photoshopped-cats-koty-vezde-50-5dad808c90a0c__700.jpg" alt="a rabbit cat">
        <h2>Mr. Murdock</h2>
        <p>Don't let this sweet facade fool you. This is an exceptionaly dangerous fella. We found him inside a dumpster behind 7Eleven. He is our menager.</p>
    </div>
    <div class="card">
        <img class = "employe" src ="/images/cat-head-tilted-indoors-looking-camera-35099234.webp" alt="a cat with a tilted head">
        <h2>Mrs. Uppity</h2>
        <p>Mrs. Uppity is a force to be reckoned with. She is a rescue from a family of 8. You can see the trauma in her eyes. She handles finances.</p>
    </div>
    <div class="card">
        <img class = "employe" src ="/images/TELEMMGLPICT000355086520_16987689240600_trans_NvBQzQNjv4Bq1N7b4iP6PiAeXodwToZRpResOSvGg0uZLADKVg6sIAQ.webp" alt="a cat looking straight at the camera">
        <h2>Major Tom</h2>
        <p>He is a sweetheart. If he wasn't a cat, he would have been a golden retriver. He wears his heart on his sleave. He manages human interactions. Before we started all this he was a service cat. he knows how to handle humans. He has a patience of a saint</p>
    </div>
</div>

<div class="about">
    <h1>Why did we make this blog?</h1>

    <p>We wanted to create a place for all the cats out there, who like us are struggling in this awful human based world. We wanted to make our and by the extension your lives more bearable. We wanted to bring smiles to your faces, and maybe lift your spirits just a little bit.</p>
</div>

<div class="about">
    <h1>How to contact us?</h1>

    <p>Seeing as we don't have opposable thumbs, we have found emails to be a bit of a pain. We have attached our phone numer below. Believe me it is ten times easier to just push one button and talk then to write out an email. If you have any questions do not hesitate to contact us.</p>
    <div class="phone-contact">
        <p class="phone">Phone Number:</p>
        <p>985 459 934</p>
    </div>
</div>





<%- include("partials/footer.ejs") %>