<%- include("partials/header.ejs") %>

    <div class="posts-posts">
        <h2>All posts available on this site can be seen below. Enjoy(:</h2>
        <% if (locals.theTitle && locals.TheFilling) { %>
            <div class="post-other">
                <h3><%= theTitle %></h3>
                <p><%= TheFilling %></p>
                <a href="newPost"><button>Read more</button></a>
            </div>
            <% } else { %>
            
              <% } %>
        
        <div class="post-other">
            <h3>25 Reasons Why Cats Are Better Than Dogs.</h3>
            <p>As we all are aware cats are fundamentaly different than dogs. Thank God. And of course all of us without exeptions can agree that cats are Better than dogs, that's a simple truth of life. But to every traitor out there who still has some sympathy for those vile creatures here we present you 25 different...</p>
            <a href="catsWin"><button>Read more</button></a>
        </div>
        <div class="post-other">
            <h3>Laborum tempor est nulla commodo tempor.</h3>
            <p>Cillum nostrud incididunt sint sit quis anim veniam excepteur. Fugiat ullamco ipsum laboris elit adipisicing anim nisi aliquip eu esse. Eu aliquip qui aliquip ea id tempor mollit nostrud enim ullamco in ipsum aliqua. Cupidatat dolore elit dolore minim laboris elit ad id aliquip deserunt ea adipisicing labore. Cillum nostrud qui est sint minim voluptate aute velit. Esse et elit incididunt cillum ut dolore est ut anim eiusmod. Quis laborum aute eiusmod tempor.</p>
            <button>Read more</button>
        </div>
        <div class="post-other">
            <h3>Aliqua ad do velit mollit reprehenderit mollit aliqua nulla occaecat pariatur magna voluptate Lorem cupidatat.</h3>
            <p>Ea anim culpa duis sunt tempor enim laborum minim elit ad. Sint commodo sint Lorem dolore. Duis aliqua minim aliquip eiusmod magna cupidatat. Mollit consectetur id minim sit nisi ullamco anim quis est sunt occaecat ad consequat irure. Eiusmod pariatur aliqua esse eiusmod officia sunt laborum adipisicing cillum labore aliquip labore. Dolor ullamco aliqua minim sunt occaecat duis et cupidatat pariatur aute commodo ullamco exercitation. Consequat incididunt nostrud ullamco dolor magna dolor cillum qui labore occaecat incididunt laborum eu ut.</p>
            <button>Read more</button>
        </div> 
        <div class="post-other">
            <h3>Cupidatat aliquip ea adipisicing culpa exercitation.</h3>
            <p>Eiusmod incididunt do laboris eiusmod velit. Aliquip veniam cillum sit elit aute velit cillum anim enim cupidatat veniam ullamco commodo. Enim duis esse id do. Nisi magna veniam cupidatat excepteur esse ut ullamco consequat tempor commodo.</p>
            <button>Read more</button>
        </div> 
        <div class="post-other">
            <h3>Consequat aliqua quis sint sit tempor est exercitation irure culpa irure veniam sit occaecat mollit.</h3>
            <p>Culpa eu velit reprehenderit incididunt culpa occaecat ea minim occaecat amet. Veniam occaecat sit ut ea nostrud. Sint excepteur magna irure magna aliquip mollit. Duis sint deserunt eu commodo culpa ipsum ipsum.</p>
            <button>Read more</button>
        </div> 
        <div class="post-other">
            <h3>Enim deserunt commodo quis tempor voluptate consectetur incididunt.</h3>
            <p>Velit in magna officia nulla. Laboris commodo quis aute consectetur incididunt amet aliquip. Aliquip proident exercitation Lorem exercitation nostrud. Nostrud incididunt consectetur ut ullamco elit aliquip occaecat velit reprehenderit irure non id id eu. Sit ipsum laboris labore officia duis nisi cillum ipsum aliquip.</p>
            <button>Read more</button>
        </div> 
    
      
</div>
<%- include("partials/footer.ejs") %>