<%- include("partials/header.ejs") %>
<div class="your-post">
    <h1>Your post has been made!! Huray!!!</h1>
    <h2>Click below to see your post</h2>
    <button class="submit-post"><a class="take-me-posts" href="/posts">See post</a></button>
</div>

<%- include("partials/footer.ejs") %>